@font-face {font-family: "OpenSans Regular";src: url("../fonts/OpenSansRegular.ttf");}
@font-face {font-family: "OpenSans Semibold";src: url("../fonts/OpenSansSemiBold.ttf");}
@font-face {font-family: "OpenSans Light";src: url("../fonts/OpenSansLight.ttf");}
@font-face {font-family: "Muse-100";src: url("../fonts/MuseoSansCyrl-100.otf");}
@font-face {font-family: "Muse-300";src: url("../fonts/MuseoSansCyrl-300.otf");}
@font-face {font-family: "Muse-500";src: url("../fonts/MuseoSansCyrl-500.otf");}
@font-face {font-family: "Muse-700";src: url("../fonts/MuseoSansCyrl-700.otf");}
@font-face {font-family: "HelveticaNeueCyr Roman";src: url("../fonts/HelveticaNeueCyr-Roman.otf");}
@font-face {font-family: "HelveticaNeueCyr Light";src: url("../fonts/HelveticaNeueCyr-Light.otf");}
/* general rules */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "OpenSans Semibold", sans-serif;
    font-size: 14px;
    color: #333333;
}

a, button, input[type="submit"] {
    cursor: pointer;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

a, a:hover, a:active {
    outline: none;
    border: none;
}
button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input, input:hover, input:active, input:focus {
    outline: none;
    border: none;
}
button, input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.button-red {
    height: 40px;
    line-height: 40px;
    background: #ff4543;
    text-transform: uppercase;
    color: #ffffff;
}
.button-red:hover {
    background: #ff0000;
}

.block-content {
    width: 98%;
    max-width: 960px;
    margin: 0 auto;
    padding: 7.5% 0;
    text-align: center;
}

.form-field::-webkit-input-placeholder {font-size: 14px;color: #b7b7b7;opacity: 1;}
.form-field::-moz-placeholder {font-size: 14px;color: #b7b7b7;opacity: 1;}
.form-field:-moz-placeholder {font-size: 14px;color: #b7b7b7;opacity: 1;}
.form-field:-ms-input-placeholder {font-size: 14px;color: #b7b7b7;opacity: 1;}
.form-field:focus::-webkit-input-placeholder {color: transparent;}
.form-field:focus::-moz-placeholder {color: transparent;}
.form-field:focus:-moz-placeholder {color: transparent;}
.form-field:focus:-ms-input-placeholder {color: transparent;}

ul li {display: inline-block;}

.text-grey {color: #666666;}
.text-white {color: #ffffff;}
.text-ultra-small {font-size: 12px;}
h2 {
    font-size: 30px;
    line-height: 1;
    color: #333333;
}
h1 {
    font-size: 38px;
    line-height: 1.2;
    color:#0199cf;
}
h1:after {
    content: '';
    display: block;
    width: 145px;
    border-top: 3px solid #0199cf;
    margin: 20px 0;
}

body {
    width: 100%;
    background: #ffffff;
}

/* header */
.header {
    padding: 35px 0 25px;
}
.header:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}
.logo {
    display: inline-block;
    width: 240px;
    height: 58px;
    background: url('../images/logo.png') no-repeat center;
    font-family: "HelveticaNeueCyr Light", sans-serif;
    font-size: 13px;
    line-height: 1;
    color: #d40a34;
    text-align: right;
    padding: 40px 15px 0 0;
    float: left;
}
nav {
    display: inline-block;
}
.nav-icon {
    display: none;
    width: 46px;
    height: 23px;
    position: absolute;
    right: 30px;
    top: 20px;
    background: url('../images/icon-nav.png') no-repeat center;
    background-size: cover;
    cursor: pointer;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    line-height: 58px;
    color: #6f6f6f;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.phone-block {
    display: block;
    height: 58px;
    float: right;
}
.phone-number {
    font-family: "HelveticaNeueCyr Roman", sans-serif;
    font-size: 18px;
    color: #0199cf;
}
.get-callback {
    width: 155px;
    height: 30px;
    line-height: 30px;
    background: #4eb7dd;
    text-transform: uppercase;
    margin-top: 5px;
}
.get-callback:hover {
    background: #0199cf;
}

/* form-top */
.form-top {
    background: url('../images/girl.png') no-repeat 75% bottom, url('../images/background-header.jpg') no-repeat center;
    background-size: auto 98%, cover;
}
.form-top form {
    margin-left: 90px;
    width: 480px;
    text-align: left;
}
.form-top .text-grey {
    display: inline-block;
    width: 90%;
    font-size: 15px;
    margin-bottom: 15px;
}
.form-field-wrap {
    display: block;
    width: 270px;
    height: 40px;
    margin-bottom: 10px;
}
.form-field {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
}
.form-top .form-submit {
    width: 270px;
}

/* about-us */
.why-we h2 {
    font-family: "Muse-100", sans-serif;
}
.why-we h2:after {
    content: '';
    display: block;
    width: 70px;
    border-top: 3px solid #bababa;
    margin: 30px auto 50px;
}
.why-we ul li {
    width: 240px;
    margin: 0 45px 20px;
    vertical-align: top;
    text-align: left;
    position: relative;
}
.why-we ul li:before {
    content: '';
    display: block;
    width: 50px;
    height: 45px;
    position: absolute;
    left: -60px;
    top: -5px;
}
.why-we ul li:nth-child(1):before {
    background: url('../images/sprite-red.png') no-repeat -5% center;
    background-size: cover;
}
.why-we ul li:nth-child(2):before {
    background: url('../images/sprite-red.png') no-repeat 50% center;
    background-size: cover;
}
.why-we ul li:nth-child(3):before {
    background: url('../images/sprite-red.png') no-repeat 104% center;
    background-size: cover;
}
.why-we ul li:first-child {
    margin-left: 0;
}
.why-we ul li:last-child {
    margin-right: 0;
}
.why-we .sub-title {
    font-family: "Muse-300", sans-serif;
    margin-bottom: 5px;
}
.why-we .text-grey {
    font-family: "Muse-300", sans-serif;
}
 /* for-whom */
.for-whom {
    background: #4eb7dd;
}
.for-whom h2:after {
    content: '';
    display: block;
    width: 70px;
    border-top: 3px solid #ffffff;
    margin: 35px auto;
}
.for-whom ul {
    display: block;
    width: 100%;
    text-align: left;
}
.for-whom ul li {
    display: block;
    font-family: "Muse-300", sans-serif;
    font-size: 19px;
    position: relative;
    height: 51px;
    line-height: 1;
    margin-left: 140px;
}
.for-whom ul li:before {
    content: '';
    display: block;
    width: 45px;
    height: 51px;
    position: absolute;
    left: -60px;
    top: -15px;
}
.for-whom ul li:nth-child(1):before {
    background: url('../images/sprite-white.png') no-repeat -2% center;
    background-size: cover;
}
.for-whom ul li:nth-child(2):before {
    background: url('../images/sprite-white.png') no-repeat 15% center;
    background-size: cover;
}
.for-whom ul li:nth-child(3):before {
    background: url('../images/sprite-white.png') no-repeat 31% center;
    background-size: cover;
}
.for-whom ul li:nth-child(4):before {
    background: url('../images/sprite-white.png') no-repeat 48% center;
    background-size: cover;
}
.for-whom ul li:nth-child(5):before {
    background: url('../images/sprite-white.png') no-repeat 65% center;
    background-size: cover;
}

/* in-cabinet */
.in-cabinet {
    background: #ebebeb;
}
.in-cabinet h2:after, .teachers h2:after, .reviews h2:after, .program h2:after, .lessons-plan h2:after {
    content: '';
    display: block;
    width: 70px;
    border-top: 3px solid #bababa;
    margin: 25px auto 80px;
}
.in-cabinet ul li {
    border: 1px solid #bfbfbf;
    width: 305px;
    height: 235px;
    overflow: hidden;
    position: relative;
    margin: 5px;
}
.in-cabinet ul li:hover .hover-layer {
    display: block;
}
.in-cabinet ul li img, .steps ul li img {
    display: block;
    width: 100%;
    height: auto;
}
.in-cabinet .hover-layer {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(5, 147, 230, 0.64);
    cursor: pointer;
}
.in-cabinet .hover-layer .text-white {
    font-size: 20px;
    text-transform: uppercase;
}
.in-cabinet .hover-layer .text-white:before {
    content: '';
    display: block;
    width: 55px;
    height: 51px;
    margin: 65px auto 20px;
    background: url('../images/sprite-white.png') no-repeat right center;
    background-size: cover;
}
.in-cabinet i {
    display: none;
    width: 73px ;
    height: 73px;
    line-height: 73px;
    font-size: 73px;
    background: #d0d3da;
    color: #ffffff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.in-cabinet .button-red {
    width: 270px;
    margin-top: 90px;
}

/* teachers */
.teachers, .reviews .block-content {
    padding: 5% 0;
}
.slider-teachers .slide {
    display: block;
    width: 180px;
    margin: 0 30px;
}
.slider-teachers .slide img {
    margin: 0 auto;
}
.teacher-name {
    font-family: "OpenSans Regular", sans-serif;
    text-transform: uppercase;
    color: #555555;
    margin: 20px 0 5px;
}
.slider-teachers .text-grey {
    font-family: "Muse-300", sans-serif;
    font-size: 12px;
}
.slick-dots {
    margin-top: 60px;
}
.slick-dots li {
    margin: 0 6px;
}
.slick-dots li button {
    width: 15px;
    height: 15px;
    border: 1px solid #cdcdcd;
    font-size: 0;
    color: transparent;
    background: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 0;
}
.slick-dots .slick-active button{
    border: 1px solid #4eb7dd;
    background: #4eb7dd;
}
/* reviews */
.reviews {
    background: url('../images/background-reviews.jpg') no-repeat center;
    background-size: cover;
}
.slider-reviews .slide img {
    display: block;
    margin: 0 auto;
}
.slider-reviews .slide .text-grey {
    display: inline-block;
    width: 80%;
    margin: 35px auto 25px;
    font-family: "Muse-300", sans-serif;
}
.reviewer-info {
    font-family: "Muse-700", sans-serif;
}
.reviewer-info span {
    font-family: "Muse-300", sans-serif;
}

/* program */
.program table {
    width: 85%;
    margin: 0 auto;
    border-collapse: collapse;
}
.program table th {
    width: 25%;
    height: 70px;
    background: #4eb7dd;
    border: 1px solid #dadada;
    border-right: none;
    color: #ffffff;
    font-family: "Muse-300", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.program table th:last-child {
    border-right: 1px solid #dadada;
}
.program table td {
    height: 60px;
    border: 1px solid #dadada;
    border-top: none;
    border-right: none;
}
.program table td:last-child {
    border-right: 1px solid #dadada;
}
.program table td:first-child {
    text-align: left;
    padding: 0 10px;
    font-family: "OpenSans Light", sans-serif;
    color: #666666;
}
.program table tr:nth-child(13) td:first-child {
    text-align: center;
}
.program table tr:nth-child(13) td, .program table tr:nth-child(13) td span {
    background: #e8e8e8;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}
.program table tr:nth-child(13) td span {
    margin-right: 5px;
}
.program table tr:nth-child(13) td:nth-child(3) i, .program table tr:nth-child(13) td:nth-child(3) span {
    color: #f1554e;
}
.icon-yes {
    display: block;
    width: 21px;
    height: 17px;
    background: url('../images/sprite-ok-no.png') no-repeat left center;
    background-size: cover;
    margin: auto;
}
.icon-no {
    display: block;
    width: 17px;
    height: 17px;
    background: url('../images/sprite-ok-no.png') no-repeat right center;
    background-size: cover;
    margin: auto;
}
.program table button {
    width: 80%;
}
.button-grey {
    height: 40px;
    line-height: 40px;
    background: #8e8e8e;
    text-transform: uppercase;
    color: #ffffff;
}
.button-grey:hover {
    background: #bababa;
}

/* steps */
.steps {
    background: #4eb7dd;
}
.steps h2:after {
    content: '';
    display: block;
    width: 70px;
    border-top: 3px solid #ffffff;
    margin: 35px auto 130px;
}
.steps ul li {
    display: block;
    width: 165px;
    height: 155px;
    position: relative;
    margin: 0 auto 200px;
}
.steps ul li:last-child {
    margin-bottom: 0;
}
.step-info {
    display: block;
    width: 240px;
    position: absolute;
    left: -320px;
    top: 5px;
    text-align: right;
}
.steps ul li:nth-child(1) .step-info {
    top: 40px;
}
.steps ul li:nth-child(2n) .step-info {
    left: auto;
    right: -320px;
    text-align: left;
}
.steps ul li:nth-child(1) .step-icon {
    display: block;
    width: 93px;
    height: 28px;
    margin: 0 0 20px 145px;
    background: url('../images/icon-step-1.png') no-repeat center;
    background-size: cover;
}
.steps ul li:nth-child(2) .step-icon {
    display: block;
    width: 94px;
    height: 50px;
    margin: 0 0 5px 5px;
    background: url('../images/icon-step-2.png') no-repeat center;
    background-size: cover;
}
.steps ul li:nth-child(3) .step-icon {
    display: block;
    width: 58px;
    height: 51px;
    margin: 0 0 25px 180px;
    background: url('../images/icon-step-3.png') no-repeat center;
    background-size: cover;
}
.steps ul li:nth-child(4) .step-icon {
    display: block;
    width: 58px;
    height: 75px;
    margin: 0 0 10px 5px;
    background: url('../images/icon-step-4.png') no-repeat center;
    background-size: cover;
}
.step-name {
    font-family: "Muse-500", sans-serif;
    font-size: 21px;
    margin-bottom: 5px;
}
.step-text {
    font-family: "Muse-300", sans-serif;
}
.steps ul li:after {
    content: '';
    display: block;
    width: 423px;
    height: 157px;
    margin: auto;
    position: absolute;
    left: -129px;
    bottom: -180px;
    background: url('../images/arrow-left-right.png') no-repeat center;
    background-size: cover;
}
.steps ul li:nth-child(2):after {
    background: url('../images/arrow-right-left.png') no-repeat center;
    background-size: cover;
}
.steps ul li:last-child:after {
    display: none;
}
.get-first-lesson {
    width: 315px;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    text-transform: uppercase;
    color: #0199cf;
    margin-top: 90px;
}
.get-first-lesson:hover {
    background: #ff3a3a;
    color: #ffffff;
}

/* lessons-plan */
.lessons-plan ul li {
    display: block;
    text-align: left;
    margin-left: 220px;
    margin-bottom: 40px;
    position: relative;
}
.lessons-plan ul li:before {
    content: '1';
    font-family: "Muse-500", sans-serif;
    font-size: 80px;
    color: #3393ff;
    position: absolute;
    left: -70px;
    top: -15px;
}
.lessons-plan ul li:nth-child(2):before {
    content: '2';
}
.lessons-plan ul li:nth-child(3):before {
    content: '3';
}
.lessons-plan .sub-title {
    font-family: "Muse-500", sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}
.lessons-plan .text {
    font-family: "OpenSans Light", sans-serif;
    font-size: 15px;
}

/* contacts */
.contacts {
    background: #4eb7dd;
}
.contacts h2:after {
    content: '';
    display: block;
    width: 70px;
    border-top: 3px solid #ffffff;
    margin: 35px auto 50px;
}
.contacts ul {
    display: inline-block;
    vertical-align: top;
    margin: 10px 50px 0 90px;
    text-align: left;
}
.contacts ul li {
    display: block;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.contacts ul li a {
    display: inline-block;
    vertical-align: middle;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
.contacts ul li a:hover {
    text-decoration: underline;
}
.contacts ul li i {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    color: #ffffff;
    margin-right: 10px;
}
.contacts form {
    display: inline-block;
    vertical-align: top;
    width: 630px;
    height: 290px;
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 35px 0 35px 30px;
    text-align: left;
}
.contacts form .title {
    font-family: "OpenSans Regular", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.contacts form .text {
    font-family: "OpenSans Regular", sans-serif;
    font-size: 15px;
    margin: 15px 0 25px;
}
.contacts form .form-field-wrap {
    display: inline-block;
    margin: 0 25px 0 0;
}
.contacts form .form-submit {
    display: block;
    width: 140px;
    margin: 25px 0 0 0;
}

/* footer */
.footer {
    background: #ebebeb;
}
.footer .block-content {
    padding: 20px 0;
}
.social li {
    margin: 0 30px;
}
.social li a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    text-align: center;
    background: transparent;
}
.social li a i {
    color: #9cc9d9;
}
.social li a:hover {
    background: #9cc9d9;
}
.social li a:hover i {
    color: #ffffff;
}

/* media-queries */
@media (max-width: 1280px) {
    .form-top {
        background: url('../images/girl.png') no-repeat 85% bottom, url('../images/background-header.jpg') no-repeat center;
        background-size: auto 98%, cover;
    }
}

@media (max-width: 1080px) {
    .why-we ul {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .why-we ul li {
        display: block;
        width: 100%;
        margin: 0 auto 20px;
        vertical-align: top;
        text-align: left;
        position: relative;
    }
}

@media (max-width: 960px) {
    .header {
        padding: 20px 0 0 0;
        position: relative;
    }
    .nav-icon {
        display: block;
    }
    nav ul {
        width: 200px;
        text-align: left;
        position: absolute;
        right: 0px;
        top: 60px;
        background: rgba(5, 147, 230, 0.8);
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    nav .visible {
        height: auto;
    }
    nav ul li {
        display: none;
        list-style: none;
    }
    nav ul li a {
        color: #ffffff;
    }
    .logo, .phone-block {
        display: inline-block;
        margin: 20px;
        float: none;
    }
    .form-top {
        padding-bottom: 480px;
        background: url('../images/girl-small.png') no-repeat center bottom, url('../images/background-header.jpg') no-repeat 90% 0;
        background-size: auto 470px, auto 100%;
    }
    .form-top form {
        margin: 0 auto;
    }
    .for-whom ul li {
        margin-bottom: 10px;
    }
    .in-cabinet ul li {
        margin: 3px;
        overflow: inherit;
    }
    .in-cabinet .hover-layer {
        display: block;
        position: absolute;
        background: transparent;
    }
    .in-cabinet .hover-layer .text-white {
        color: #4eb7dd;
    }
    .in-cabinet .hover-layer .text-white:before {
        width: 79px;
        height: 74px;
        background: url('../images/zoom-blue.png') no-repeat center;
        background-size: cover;
    }
    .program table td:first-child {
        padding: 0 5px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .program {
        display: none;
    }
    .steps ul li {
        width: 300px;
        height: auto;
        margin: 0 auto;
    }
    .steps ul li img {
        width: 165px;
        height: 155px;
        margin: 20px auto 100px;
    }
    .steps ul li:last-child .step-icon {
        margin-bottom: 0;
    }
    .steps ul li .step-icon {
        margin: 0 auto;
    }
    .step-info {
        position: static;
        margin: 0 auto;
        text-align: center;
    }
    .steps ul li:nth-child(2n) .step-info {
        text-align: center;
    }
    .steps ul li:after {
        display: none;
    }
    .steps ul li:nth-child(1) .step-icon, .steps ul li:nth-child(2) .step-icon,
    .steps ul li:nth-child(3) .step-icon, .steps ul li:nth-child(4) .step-icon {
        display: block;
        margin: 0 auto 15px;
    }
    .get-first-lesson {
        margin: 0;
    }
    .lessons-plan ul li {
        margin-left: 100px;
    }
}

@media (max-width: 640px) {
    .header {
        padding: 20px 0;
    }
    .logo, .phone-block {
        display: block;
        margin: 0 auto;
    }
    .form-top form {
        width: 450px;
    }
    .form-top {
        padding-bottom: 320px;
        background: url('../images/girl-small.png') no-repeat center bottom, url('../images/background-header.jpg') no-repeat 90% 0;
        background-size: auto 310px, auto 100%;
    }
    h1 {
        font-size: 32px;
    }
    .why-we ul {
        margin-left: 15%;
    }
    .for-whom ul li {
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .in-cabinet ul li {
        display: block;
        margin: 0 auto 100px;
        list-style: none;
    }
    .in-cabinet ul .hidden {
        display: none;
    }
    .in-cabinet i {
        display: block;
        margin: 30px auto 0;
    }
    .in-cabinet .hover-layer .text-white {
        display: block;
        width: 100%;
        text-align: center;
        color: #4eb7dd;
        font-size: 18px;
        line-height: 1;
        margin-top: -45px;
    }
    .in-cabinet .hover-layer .text-white:before {
        content: '';
        display: block;
        width: 79px;
        height: 74px;
        margin: auto;
        background: url('../images/zoom-blue.png') no-repeat center;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .contacts ul {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 0 10px;
    }
    .contacts ul li {
        display: inline-block;
        margin: 0 10px;
    }
    .contacts form {
        width: 80%;
        margin: 0 auto;
        height: auto;
    }
    .contacts form .form-field-wrap {
        display: block;
        margin-bottom: 10px;
    }
    .contacts form .form-submit {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        padding-top: 50px;
    }
    .form-top form {
        width: 300px;
    }
    .why-we ul {
        width: auto;
        margin-left: 60px;
    }
    .for-whom ul li {
        margin-left: 75px;
        margin-bottom: 50px;
    }
    .lessons-plan ul li {
        margin-left: 80px;
    }
    .contacts form {
        width: 95%;
    }
    .contacts form .form-field-wrap {
        width: 90%;
    }
    .social li {
        margin: 0 10px;
    }
}